html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22532b;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.code-camp-logo {
  margin: 0 auto;
  display: block;
  width: 70%;
  height: 70%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.code-camp-logo:hover {
  transform: scale(1.05);
   transform: rotate(897deg); 
  transition: transform 0.3s ease-in-out;
}

.title {
  color: #1bde38;
  font-size: 13rem;
  font-weight: 700;
  font-family: sans-serif;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #499c43;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: .3s;

}

.button:hover {
  background-color: #fc0505;
  color: #2ab636;
  transform: scale(1.05);
  transition: .3s;
}

.button-text {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: sans-serif;
}
